.App {
  text-align: center;
}

.Main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.Webcam {
  visibility: hidden;
}

.canvasjs-chart-toolbar {
  display: none !important;
}

.canvasjs-chart-credit {
  display: none !important;
}

.session-chart-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
}

.session-chart-wrapper-child {
  width: 550px;
  height: 450px;
}

.display-wrapper {
  display: flex;
  justify-content: center;
}

.canvasjs-chart-canvas {
  position: relative !important;
}


